.housing-grid {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0px;
}

@media (max-width: 900px) {
  .housing-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .housing-grid {
    grid-template-columns: 1fr;
  }
}
.housing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  margin: 30px;
  width: 200px;
}

.query-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 30px;
  
}

.query-container .sort-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  
}

.query-container .filter-dropdown {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}

.heist-page{
  
  min-height: 100vh;
  padding: 40px 0;

  background-image: url("../src/assets/safe_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.housing-card:hover{
  transform: translateY(-8px);
  border-color: #ff0000;
  box-shadow: 0 12px 25px rgba(139, 0, 0, 0.4);
}